<h2>{{#str}} indextitle, block_adaptajulho{{/str}}</h2>

<div class="row mb-2">
  <div class="col">
    <a href="{{{addurl}}}" class="btn btn-primary">{{#str}} addnew, block_adaptajulho {{/str}}</a>
  </div>
</div>

<table class="table generaltable">
  <thead>
   <tr>
     <th>{{#str}} foo, block_adaptajulho {{/str}}</th>
     <th>{{#str}} fullname {{/str}}</th>
     <th>{{#str}} actions {{/str}}</th>
   </tr>
  </thead>
  <tbody>
  {{#records}}
   <tr>
    <td>{{name}}</td>
    <td>{{firstname}} {{lastname}}</td>
    <td><a href="{{{editurl}}}">{{#pix}} t/edit, core, {{#str}} edit {{/str}}{{/pix}}</a></td>
   <tr>
  {{/records}}
  </tbody>
</table>

<div class="row">
  <div class="col">
    <a href="{{{addurl}}}" class="btn btn-primary">{{#str}} addnew, block_adaptajulho {{/str}}</a>
  </div>
</div>
